In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("scores_data.csv")
df.head()

       Batch  User_ID     Score
0  AI_ELITE_7  uid_149       6 / 7
1  AI_ELITE_7  uid_148       6 / 7
2  AI_ELITE_7  uid_147       7 / 7
3  AI_ELITE_7  uid_146       7 / 7
4  AI_ELITE_7  uid_145       4 / 7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 3 columns):
Batch          149 non-null object
User_ID        149 non-null object
   Score       149 non-null object
dtypes: object(3)
memory usage: 3.6+ KB

In [6]:
df.columns=df.columns.str.replace(' ','')

In [7]:
df.columns

Index(['Batch', 'User_ID', 'Score'], dtype='object')

In [14]:
df['Score']=df['Score'].str.replace(' / 7','')

In [20]:
df['Score']

0      6
1      6
2      7
3      7
4      4
      ..
144    4
145    4
146    4
147    3
148    2
Name: Score, Length: 149, dtype: int32

In [19]:
df['Score']=df['Score'].astype('int')

In [27]:
df['Batch'].unique()  #there are totally three batches

array(['AI_ELITE_7', 'AI_ELITE_6', 'AI_ELITE_4'], dtype=object)

In [47]:
df[df['Batch']=='AI_ELITE_7']['Score'].describe()

count    53.000000
mean      5.056604
std       1.446682
min       2.000000
25%       4.000000
50%       5.000000
75%       6.000000
max       7.000000
Name: Score, dtype: float64

As AI_ELITE_7 contains good mean and median values along with less standard deviation we can conclude that bacth 7 are performing well compared to the remaining two batches

In [48]:
df[df['Batch']=='AI_ELITE_6']['Score'].describe()

count    48.000000
mean      4.229167
std       1.640441
min       0.000000
25%       3.000000
50%       4.000000
75%       5.000000
max       7.000000
Name: Score, dtype: float64

In batch 6 few people got 0 marks and few people got 7 marks and some of them got average marks

In [49]:
df[df['Batch']=='AI_ELITE_4']['Score'].describe()

count    48.000000
mean      3.791667
std       1.443376
min       0.000000
25%       3.000000
50%       4.000000
75%       4.250000
max       7.000000
Name: Score, dtype: float64